<nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark">
    <a class="navbar-brand" href="#">e-Sales</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" 
    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li  class="nav-item active"><a class = "nav-link" href="#"> Home</a></li>       
        <li  class="nav-item"><a class = "nav-link" href="./envios.html">Envíos</a></li>
        <li  class="nav-item"><a class = "nav-link" href="./contacto.html">Contacto</a></li>
        <li  class="nav-item"><a class = "nav-link" href="./nosotros.html">Nosotros</a></li>
      </ul>   
    </div>
  </nav>